@import "../variables";

.Header {
  position: fixed;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: $black;
  color: $white;
  z-index: 3;

  h1 {
    font-size: $header-font;
  }

  @include breakpoint(mobile) {
    margin-bottom: 2rem;
    border-bottom: 1px solid $gray;

    h1 {
      font-size: $header-font-mobile;
    }
  }

  .logo {
    width: $line-height * 2;
    height: $line-height * 2;
    background-image: url("../assets/logoWhite.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 1rem;
  }
}
